@import url(/src/style/theme.css);
@import url(/src/style/base.css);
@import url(/src/style/reset.css);


.pagenation{
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  color: var(--light-blue);
  button{
    all: unset;
    flex: 0 0 0.5rem;
    
    .fas{
      border-radius: 50%;
    }
  }
  ol{

    display: flex;
    justify-content: space-between;
    gap: 20px;

    .is_select{
      color: var(--dark-blue);
      font-weight: 700;
    }
  }

}