@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root{
  --container-size: 940px;
}

.header,
.visual,
.main,
.slogan,
.footer-inner{
  width : var(--container-size);
  margin: 0 auto;
}

body {
  font-family: "Noto Sans KR", sans-serif;

}

/* 헤더 */
.header{
  background-color: yellow;
  height: 10vh;
}

/* 비쥬얼 */
.visual{
  background-color: pink;
  height: 10vh;
}

/* 메인 */
.main{
  background-color: skyblue;
  height: 60vh;
  display: flex;
}

.group{
  border: 1px solid red;
}

/* 슬로건 */
.slogan{
  background-color: green;
  height: 10vh;
}

/* 푸터 */
.footer{
  background-color: orange;

}

.footer-inner{
  background-color: violet;
  height: 10vh;
}

