/* 텍스트 링크 모음 */
.member-service{
  
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  text-align: right;
  font-size: 0.875rem;

  li{
    
    display: inline-block;

    a{
      padding: 8px;
      text-transform: uppercase;
    }
  }
}

